<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>548054325478-0com808vgj6ol629959m3ke5f18ci5tq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.548054325478-0com808vgj6ol629959m3ke5f18ci5tq</string>
	<key>API_KEY</key>
	<string>AIzaSyD-mEAY304ZC1_hQWyaTtoeduQtzGu6Azc</string>
	<key>GCM_SENDER_ID</key>
	<string>548054325478</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>koala-tea.SEDaily</string>
	<key>PROJECT_ID</key>
	<string>sed-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>sed-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:548054325478:ios:a92590b1eee7f0b7</string>
	<key>DATABASE_URL</key>
	<string>https://sed-dev.firebaseio.com</string>
</dict>
</plist>